@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('./assets/fonts/Inter-Medium.ttf');
}
@font-face {
    font-family: 'Inter-Semi-Bold';
    src: url('./assets/fonts/Inter-SemiBold.ttf');
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('./assets/fonts/Inter-Bold.ttf');
}
@font-face {
    font-family: 'Inter-Light';
    src: url('./assets/fonts/Inter-Light.ttf');
}
@font-face {
    font-family: 'Inter-Extra-Bold';
    src: url('./assets/fonts/Inter-ExtraBold.ttf');
}

body { 
    margin: 0;
    font-family: Inter-Light, sans-serif;
    font-size: 1.3rem;
    padding: 0;
    background-color: white;
}

.wrapper {
    margin: 0rem auto;
    max-width: 1125px;
}

.nav {
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    background-color: white;
   /* background: linear-gradient(90deg, rgba(80, 195, 200, .2) 0%, rgba(40, 70, 195, .2) 100%);*/

    display: flex;
    justify-content: space-between;
    padding: 1rem;
}


.nav-logo {
    width: 3rem;
}

button.secondary {
    border: 1px solid black;
    color: black;
    font-size: 1rem;
    font-family: Inter-Medium;
    height: 2.5rem;
    background-color: white;
    padding: 0rem 1rem;
}

button.primary {
    border: none;
    border-radius: 52px;
    color: white;
    font-size: 1rem;
    font-family: Inter-Medium;
    height: 2.5rem;
    padding: 0rem 2rem;
    background: linear-gradient(90deg, #50C3C8 0%, #2846C3 100%);
}

.heading {
    font-family: Inter-Bold;
    font-size: 2.4rem;
}

.heading-small {
    font-family: Inter-Extra-Bold;
    font-size: 2rem;
}

.bold {
    font-family: Inter-Extra-Bold;
}

.center {
    text-align: center !important;
}

button.center {
    margin: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.mw {
    max-width: 75%;
    margin: 3rem auto;
}

.standard {
    padding: 1rem;
}

.mt {
    margin-top: 2.5rem;
}

.mt-lg {
    margin-top: 8rem;
}

.mt-sm {
    margin-top: 1rem;
}

.row {
    display: flex;
    margin-top: 1.8rem;
}

.cell-1 {
    flex: 1;
    font-size: 1.7rem;
}

.cell-2 {
    flex: 4;
}

.cell-heading {
    font-size: 1.7rem;
    font-family: Inter-Extra-Bold !important;
}

.cell-text {
    margin-top: .6rem;
}

.action {
    border-radius: 0px 52px 52px 0px;
    background: linear-gradient(90deg, #50C3C8 0%, #3B28CC 100%);
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    width: 80%;
    font-family: Inter;
}

.grey {
    background-color: #363636;
    color: white;
}

.p-2 {
    padding: 3rem;
}

.team {
    margin-top: 2rem;
}

.card {
    margin-bottom: 2rem;
}

.card-name {
    margin-top: .5rem;
    font-family: Inter-Bold;
    font-size: 1.4rem;
}

footer {
    background: linear-gradient(90deg, #50C3C8 0%, #3B28CC 100%);
    padding: 2rem;
    color: white;
    text-align: center;
}

.footer-logo {
    width: 10%;
}

.footer-headline {
    margin-top: 2rem;
    font-family: Inter-Medium;
}

.footer-license {
    margin-top: 2rem;
    font-size: 1rem;
}

a {
    color: white;
}

.mt-2 {
    margin-top: 2rem;
}

.img-network {
    width: 80%;
    margin: 3rem auto 2rem auto;
}

@media only screen and (min-width: 800px) {
    .team {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3rem;
    }
    .team > .card {
        flex: 1;
        width: 40% !important;
    }
    nav {
        background-color: rgb(241, 241, 241) !important;
    }
    .wrapper {
        margin: 10rem auto;
    }
    .img-brennen {
        width: 60%;
        margin: 6rem auto;
    }
}

@media only screen and (min-width: 1130px) {
    body {
        font-size: 3rem;
    }
    button {
        font-size: 2rem !important;
        padding: 1rem 3rem !important;
        height: inherit !important;
    }
    button.secondary {
        border: 3px solid black;
    }
    .cell-heading {
        font-size: 4rem;
    }
    .cell-1 {
        font-size: 3rem;
    }
    .nav-logo {
        width: 5rem !important;
    }
    .heading {
        font-size: 4rem;
    }
    .heading-small {
        font-size: 3rem;
    }
    .mt-2 {
        margin-top: 6rem;
    }
    .footer-logo {
        width: 5rem !important;
    }
    footer {
        margin-top: 6rem !important;
        padding-bottom: 4rem !important;
    }
    .footer-license {
        font-size: 1rem !important;
    }
}